<div class="nested-fields">
  <h3>Rewards </h3>
  <%= f.input :amount %>
  <%= f.input :description %>
  <%= link_to_remove_association "remove reward", f, class: "btn btn-danger btn-sm" %>
  <hr>
</div>
